:root {
    --obsidian-purple: rgba(68, 30, 89, 1);
    --violet-letters: rgba(46, 48, 110, 1);
    --cerulean: rgba(35, 95, 219, 1);
    --sugar-plum: rgba(150, 152, 200, 1);
    --wisteria: rgba(209, 210, 240, 1);
    --periwinkle-blue: rgba(173, 207, 255, 1);
    --amour-frais: rgba(245, 230, 235, 1);
    --blushed: rgba(251, 205, 216, 1);
    --petal-pink: rgba(252, 213, 231, 1);
    --love-spell: rgba(247, 184, 192, 1);
    --flamingo-pink: rgba(253, 78, 181, 1);
    --cupid: rgba(219, 80, 121, 1);
    --fever-dream: rgba(221, 88, 133, 1);
    --ruby: rgba(179, 39, 52, 1);
    --firebrick: rgba(178, 39, 34, 1);
    --head-font-family: "Young Serif", Helvetica;
    --head-font-weight: 400;
    --head-font-size: 30px;
    --head-letter-spacing: 0px;
    --head-line-height: normal;
    --head-font-style: normal;
  }
  